*{
    margin: 0px;
    padding: 0px;
}
/* header section  */
.conteiner{
    max-width: 1200px;
    margin: auto;
}
header{
    background-color: rgba(229, 84, 115, 0.10);
    
}
.main-header{
    display: flex;
    justify-content: space-between;
}
.header-info{
    width: 50%;
    margin: auto 40px;
}
.header-img img{
height: 600px;
width: 100%;
/* margin-bottom: -4px; */
padding-top: 30px;
margin: 10px auto -4px;
}

.header-section{
    display: block;
margin: 240px 197px 972px 147px;
justify-content: center;

}
.header-section-title{
padding: 80px , 96px;
font-size: 45px;

}
.header-section-description{
    font-size: 14px;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 10px;
    line-height: 20px;
    width: 317px;
    height: 45px;
    
}
.btn-p{
    border: none;
    padding: 20px 28px;
     border-radius: 8px;
     background: #E55473;
     color: white;
     margin-top: 50px;
}

   .flower {
    justify-content: center;
   }
   .flower img{
height: 650px;
   }
   /* header-section-2 */
   .header-end{
    display: flex;
    flex-direction: column;
    /* width: 592px; */
   }
   .header-section-2{
       text-align: center;
       height: 48px;
       font-size: 40px;
       margin-top: 200px;

}
.header-section-2-description{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
   }
   /* main section-1 */
   .main-section-1{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* justify-content: space-around; */
    
   }
   .section-space-1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
height: 320px;
    width: 260px;
    padding-top: 60px;

   }
   .section-space-2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
height: 320px;
    width: 260px;
    padding-top: 60px;

   }
   .section-space-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 320px;
    width: 260px;
    padding-top: 60px;
   }
   .main-section-img-1{
    height: 100%;
    /* padding-top: 40px;
    padding-bottom: 0px; */
    width: 100%;
   }
   .main-section-img-2{
    height: 100%;
    width: 100%;
   
   }
   .main-section-img-3{
    height: 100%;
    width: 100%;
   }
   .item-name {
margin-top: 15px;
text-align: center;
text-decoration-line: underline;
font-size: 24px;
   }
   .main-section-2{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* padding-top: 10px; */
    /* justify-content: space-around; */
   }
   .section-space-1-1{
    border-radius: 0px;
height: 270px;
    width: 194px;
    /* padding-top: 60px; */

   }
   .section-space-2-2{
    border-radius: 0px;
height: 270px;
width: 194px;
    /* padding-top: 60px; */

   }
   .section-space-3-3{
    border-radius: 0px;
    height: 270px;
    width: 194px;
    /* padding-top: 60px; */

   }
   .section-space-4-4{
    border-radius: 0px;
    height: 270px;
    width: 194px;
    /* padding-top: 60px; */

   }
   .main-section-img-1-1{
    height: 100%;
    /* padding-top: 40px;
    padding-bottom: 0px; */
    width: 100%;
   }
   .main-section-img-2-2{
    height: 100%;
    width: 100%;
   
   }
   .main-section-img-3-3{
    height: 100%;
    width: 100%;
   }
   .main-section-img-4-4{
    height: 100%;
    width: 100%;
   }
   .colorr{
    color: #E55473;
   }
   .main-3{
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
   }
.header-section-2-2{
    margin-top: 60px;
    text-align: center;
       height: 48px;
       font-size: 40px;
}