*{
    margin: 0px;
    padding: 0px;
}
/* header section  */
.nav{
    display: flex;
    justify-content: space-around;
}
.navber{
    padding-bottom: 10px;
}
li{
    list-style-type: none;
    margin-top: 20px;
    font-size: 15px;}
    .btn-p-1{
     font-size: 14px;
     background-color: #963663;
     border-radius: 5px;
     border: none;
     color: white;
     padding: 20px 28px;

    }
.nav li a {
    color: rgb(29, 28, 28);
    text-decoration: none;
    justify-content: center;
    padding: 40px 130px;
}
.conteiner{
    max-width: 1200px;
    margin: auto;
}
/* .container-2{ */
    /* background-image: url(./main-3.png);
    height: 400px;
    width: 830px;
    margin: 40px 60px;
    /* justify-content: center; */
/* } */ 
/* .cn5{
    justify-content: center;
} */
.background-img{
    width: 100%;
    height: 450px;
    background-image: url(./main-3.png);
    margin-top: 60px;
}
/* 
 */
 .background-img-title{
    text-align: center;
    font-size: 40px;
    font-weight: 800px;
    padding-top: 200px;
    /* display: flex; */
 }
 .background-description{
    text-align: center;
    font-size: 18px;
 }
 
 .btnn{
    display: flex;
    justify-content: center;

 }
 .last-btn{
display: inline-block;
 }
 .email-sec{
    text-align: center;
    width: 400px;
    display: inline-block;
 }
header{
    background-color: rgba(229, 84, 115, 0.10);
    
}
.main-header{
    display: flex;
    justify-content: space-between;
}
.header-info{
    width: 50%;
    margin: auto 40px;
}
.header-img img{
height: 460px;
width: 100%;
/* margin-bottom: -4px; */
padding-top: 30px;
margin: 10px auto -4px;
}

.header-section{
    display: block;
margin: 240px 197px 972px 147px;
justify-content: center;

}
.header-section-title{
padding: 80px , 96px;
font-size: 45px;

}
.header-section-description{
    font-size: 14px;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 10px;
    line-height: 20px;
    width: 317px;
    height: 45px;
    
}
.btn-p{
    border: none;
    padding: 20px 28px;
     border-radius: 8px;
     background: #E55473;
     color: white;
     margin-top: 50px;
}

   .flower {
    justify-content: center;
   }
   .flower img{
height: 650px;
   }
   /* header-section-2 */
   .header-end{
    display: flex;
    flex-direction: column;
    /* width: 592px; */
   }
   .header-section-2{
       text-align: center;
       height: 48px;
       font-size: 40px;
       margin-top: 200px;

}
.header-section-2-description{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
   }
   /* main section-1 */
   .main-section-1{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* justify-content: space-around; */
    
   }
   .section-space-1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
height: 320px;
    width: 260px;
    padding-top: 60px;

   }
   .section-space-2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
height: 320px;
    width: 260px;
    padding-top: 60px;

   }
   .section-space-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 320px;
    width: 260px;
    padding-top: 60px;
   }
   .main-section-img-1{
    height: 100%;
    /* padding-top: 40px;
    padding-bottom: 0px; */
    width: 100%;
   }
   .main-section-img-2{
    height: 100%;
    width: 100%;
   
   }
   .main-section-img-3{
    height: 100%;
    width: 100%;
   }
   .item-name {
margin-top: 15px;
text-align: center;
text-decoration-line: underline;
font-size: 24px;
   }
   .main-section-2{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* padding-top: 10px; */
    /* justify-content: space-around; */
   }
   .section-space-1-1{
    border-radius: 0px;
height: 270px;
    width: 194px;
    /* padding-top: 60px; */

   }
   .section-space-2-2{
    border-radius: 0px;
height: 270px;
width: 194px;
    /* padding-top: 60px; */

   }
   .section-space-3-3{
    border-radius: 0px;
    height: 270px;
    width: 194px;
    /* padding-top: 60px; */

   }
   .section-space-4-4{
    border-radius: 0px;
    height: 270px;
    width: 194px;
    /* padding-top: 60px; */

   }
   .main-section-img-1-1{
    height: 100%;
    /* padding-top: 40px;
    padding-bottom: 0px; */
    width: 100%;
   }
   .main-section-img-2-2{
    height: 100%;
    width: 100%;
   
   }
   .main-section-img-3-3{
    height: 100%;
    width: 100%;
   }
   .main-section-img-4-4{
    height: 100%;
    width: 100%;
   }
   .colorr{
    color: #E55473;
   }
   .main-3{
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
   }
   .main-3-section{
    display: flex;
    justify-content: center;
    margin-top: 60px;

   }
   img{
    width: 835px;
   }
.header-section-2-2{
    margin-top: 60px;
    text-align: center;
       height: 48px;
       font-size: 40px;
}
footer h3{
    padding-top: 40px;
}
footer{
    background-color: black;
    margin-top: 60px;
}
.conteiner{
    height: 500px;
}
.flower{
    color: #E55473;
}
.shope{
color: white;
}
.header-section-2-description-footer{

    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
    line-height: 30px;
}
.footer-end{
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    padding-top: 25px;
    color: rgba(255, 255, 255, 0.40);
}
/* .footer-1{
    /* margin-top: 70px; */

.conteiner-f{
    margin-top: 100px;
    height: 300px;
    width: auto;
}